@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-ink-950 text-zinc-100 font-sans antialiased;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply rounded-full bg-ink-700;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
